<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<title>多媒体搜索系统</title>
<link rel="stylesheet" href="../static/css/search.css">
</head>

<!--上传音频css-->
<script src="js/jquery-3.2.1.js"></script>

	<style type="text/css">
		#userimage {
			width: 534px;
			height: 400px;
			border: 1px solid lightgrey;
		}

		#usertouxiang {
			width: 534px;
			height: 400px;
			background: #CCCCCC;
		}

		#upfilebutton {
			font-size: 18px;
			background-color: tomato;
			color: white;
			border-radius: 5px;
		}

		.uplabel {
			width: 200px;
			height: 30px;
			margin-top: 20px;
		}
	</style>

<!--图片样式截至-->

<body>
    <div id="title">
    <h1 style="text-align:center;font-size:40px;font-family:华文宋体;color:rgb(0, 50, 150);"><big>多媒体检索系统</big></h1>
    </div>

 <div id="search_type" class="div1" style="left:350px; top:150px; width: 800px;height: 100px;line-height: 30px;text-align:center;">
    <center>
   <ul>
       <li>
           <a href="{% url 'search_text' %}">文字</a>
            </li>
            <li>
                <a href="{% url 'search_image' %}">图片</a>
            </li>
            <li>
                <a href="{% url 'search_music' %}">音频</a>
            </li>
        </ul>
    </center>
</div>

    <div id="searchbox">
    <form action="{% url "search_music" %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}

        <br><br><br>
        <center>
        <!--上传音频-->
        <input type="file" id="upfile" name="music" style="display: none" accept="audio/wav"/>
		<input type="submit" id="submit" style="color:brown" value="">
        <div id="usertouxiang">
        <img id="userimage" src="../static/images/music.jpg" />
		</div>
		<div class="uplabel">
			<center><label id="upfilebutton" for="upfile">上传音频</label></center>
		</div>
        </center>
    </form>
    <br>
</div>

</body>
</html>


